body
{
padding: 0px;
margin: 0px;
background-color: #cccccc;

}
.centering
            {
                margin:auto;
                width: 1000px;
                background-color: beige;
                padding: 0px;
                text-align: center;
                color:#FF1493;

            }


